server:
  port: 8888
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param
    include-exception: true
    whitelabel:
      enabled: false

spring:
  config:
    activate:
      on-profile: "dev"
  main:
    allow-bean-definition-overriding: true
    banner-mode: "off"
  thymeleaf:
    cache: false
    check-template: true
    check-template-location: true
    enabled: true
    encoding: UTF-8
    # excluded-view-names:
    mode: HTML
    prefix: classpath:/templates/
    suffix: .html
    # template-resolver-order:
    # view-names:
  servlet:
    content-type: text/html
  datasource:
    # h2 database
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:iwa_dev
    username: sa
    password: password
    initialization-mode: always
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hiberate:
        format_sql: true
        # h2 database dialect
        dialect: org.hibernate.dialect.H2Dialect
  mvc:
#    favicon:
#      enabled: false
    throw-exception-if-no-handler-found: true
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-ahui5f878pgtbrpr.us.auth0.com/
          audiences: https://iwa-api.onfortify.com
  mail:
    default-encoding: ${SPRING_MAIL_DEFAULT_ENCODING:UTF-8}
    host: ${SPRING_MAIL_HOST:localhost}
    username: ${SPRING_MAIL_USERNAME:username}
    password: ${SPRING_MAIL_PASSWORD:password}
    port: ${SPRING_MAIL_PORT:2525}
    test-connection: ${SPRING_MAIL_TEST_CONNECTION:false}
    debug: ${SPRING_MAIL_DEBUG:true}
    properties:
      mail:
        smtp:
          auth: ${SPRING_MAIL_SMTP_AUTH:false}
          starttls:
            enable: ${SPRING_MAIL_SMTP_STARTTLS_ENABLE:false}

  jwt:
    secret: eLgvVuw3qIHLNGNH/XNASMiV1RQlVgNakeDsLu7svKQP7jtu2+35wwu/rfwBAQi88wCiuCU66NS66BEySj6jQ4tLOJy4Jn5USbjBk98vMYnT+3me2lYqTUg/tdEg2HHMzhnu+MOXdq5LK1iwr0/uTob/meDy2cIT3ljF+8L7ZuxnwYYW0BTQsM+0nDTYNg4Ik/ChORRBjDyNpplzGvJlqvY5g2RkCyIP0WRe1A==
    expiration-ms: 86400000
    refresh-ms: 86400000

logging:
  level:
    root: WARN
    com.microfocus: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.web: INFO
    org.springframework.security: INFO

#management:
#  endpoints:
#    web:
#      exposure:
#        include: health,info
#  endpoint:
#    health:
#      show-details: always
#      probes:
#        enabled: true
#  health:
#    mail:
#      enabled: false

app:
  name: IWA Pharmacy Direct
  url: http://localhost:8888
  version: 1.1
  currency: GBP
  invalidPasswordList: "/invalid-password-list.txt"
  data:
    page-size: 25
  messages:
    home: Welcome to our site!
