name: Build and Test

on:
  push:
    paths-ignore:
      - '.github/**/**'
      - 'Jenkinsfile'
      - '.gitlab-ci.yml'
      - 'azure-pipelines.yml'
      - 'bin/**'
      - 'data/**'
      - 'etc/**'
      - 'tests/**'
      - '*.md'
      - 'LICENSE'
    branches:
      - main
      - develop
      - feature/**    # runs on any branch named feature/...
      - bugfix/**     # runs on any branch named bugfix/...
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:

env:
  DEFAULT_APP_NAME: "IWA-Java"
  DEFAULT_PARENT_RELEASE_NAME: "main"
  GRADLE_VERSION: "7.6.4"
  JAVA_VERSION: "17"
  BASE_DIR: "."

jobs:
  Build-And-Unit-Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Ensure gradlew is executable
        run: chmod +x ./gradlew

      - name: Check environment variables
        run: |
          echo "JAVA_VERSION=${{ env.JAVA_VERSION }}"
          echo "GRADLE_VERSION=${{ env.GRADLE_VERSION }}"
          echo "BASE_DIR=${{ env.BASE_DIR }}"

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: ${{ env.GRADLE_VERSION }}

      - name: Build with Gradle
        run: ./gradlew clean build test

      - name: Publish Test Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: |
            build/test-results/**/*.xml
            build/test-results/**/*.trx
            build/test-results/**/*.json