# Create GitHub Action Secrets for your version of the application:
# - DEBRICKED_ACCESS_TOKEN: API token for Debricked (https://debricked.com/)
name: OpenText Core SCA Scan

# Set the permissions for the GITHUB_TOKEN to allow the workflow to read repository contents, write security events, and write pull request comments. This is necessary for the workflow to function properly, as it needs to access the codebase for scanning, report security findings, and comment on pull requests with the results.
permissions:
  contents: read
  security-events: write
  pull-requests: write

on:
  # Triggers the workflow on push or pull request events but only for the main and develop branches
  push:
    paths:
      - 'build.gradle'
    branches:
      - main
      - develop
      - feature/**    # runs on any branch named feature/...
      - bugfix/**     # runs on any branch named bugfix/...
  pull_request:
    branches:
      - main
      - develop

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      runDebrickedScan:
        description: 'Carry out SCA scan using Debricked'
        required: true
        default: 'true'

# Global environment variables
env:
  DEFAULT_ORG_NAME: "fortify-presales"
  DEFAULT_APP_NAME: "IWA-Java"
  GRADLE_VERSION: "7.6.4"

jobs:

  Debricked-SCA-Scan:
    runs-on: ubuntu-latest
    if: ${{ (github.event_name == 'push') || (github.event_name == 'pull_request') || (github.event.inputs.runDebrickedScan == 'true') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Setup JDK 17 on host
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      # Install appropriate version of Gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: ${{ env.GRADLE_VERSION }}
      # Install Debricked CLI using Fortify GitHub Action
      - name: Setup Fortify tools
        uses: fortify/github-action/setup@v3
        with:
          export-path: true
          debricked-cli: latest
      # Run debricked scan    
      - name: Run debricked scan
        # Normally you would comment the following out - this is for demo
        continue-on-error: true
        shell: bash
        run: |
            debricked fingerprint
            debricked scan --prefer-npm -r "${APP_NAME}" -t "${DEBRICKED_TOKEN}" -e "*/**.lock" -e "**/build/classes/test/**" -e "**/target/classes/test-classes/**" .
        env:
          APP_NAME: ${{ format('{0}/{1}', env.DEFAULT_ORG_NAME, env.DEFAULT_APP_NAME) }}
          DEBRICKED_TOKEN: ${{ secrets.DEBRICKED_ACCESS_TOKEN }}
